body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #1932ec;
  padding-bottom: 25px;
}
.header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.header h1 {
  margin: 0;
  font-size: 24px;
}
.section {
  margin: 20px 0;
}
.section h2 {
  margin-bottom: 10px;
  color: #333;
}
.section p {
  margin: 5px 0;
}
.skills, .experience, .education {
  list-style: none;
  padding: 0;
}
.skills li, .experience li, .education li {
  margin: 5px 0;
}
.progress-bar {
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
}
.progress-bar div {
  height: 20px;
  background-color: #4caf50;
  text-align: center;
  color: white;
  line-height: 20px;
   
}